@model BESL.Application.Teams.Queries.GetTeamTournamentsMatches.GetTeamTournamentsMatchesViewModel
@using static BESL.Common.GlobalConstants;
@{
    int counter = 1;
}

<h4 class="display-4">Team matches</h4>

<div class="accordion" id="tmAccordion">
    @if (Model.TournamentMatches.Count > 0)
    {
        @foreach (var tm in Model.TournamentMatches)
        {
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tournament-@counter" aria-expanded="false" aria-controls="collapseOne">
                            @tm.TournamentName
                        </button>
                    </h2>
                </div>

                <div id="tournament-@counter" class="collapse" aria-labelledby="headingOne" data-parent="#tmAccordion">

                    <div class="card-body">
                        <table class="table table-sm ">
                            <thead>
                                <tr>
                                    <th scope="col">Home Team</th>
                                    <th scope="col">Away Team</th>
                                    <th scope="col">Result</th>
                                    <th scope="col">Scheduled Date</th>
                                    <th scope="col" class="text-center">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (tm.Matches.Count > 0)
                                {
                                    @foreach (var match in tm.Matches)
                                    {
                                        <tr>
                                            <td class="align-middle"><a asp-controller="Teams" asp-action="Details" asp-route-id="@match.HomeTeamId"><strong>@match.HomeTeamName</strong></a></td>
                                            <td class="align-middle"><a asp-controller="Teams" asp-action="Details" asp-route-id="@match.AwayTeamId"><strong>@match.AwayTeamName</strong></a></td>
                                            <td class="align-middle">@match.HomeTeamScore - @match.AwayTeamScore</td>
                                            <td class="align-middle">@match.ScheduledDate.ToString(DATE_HOUR_FORMAT)</td>
                                            <td class="align-middle text-center"><a asp-controller="Matches" asp-action="Details" asp-route-id="@match.Id" class="btn btn-sm btn-primary">Details</a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-danger text-center">No matches.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            counter++;
        }
    }
    else
    {
        <h3 class="text-center text-warning">No previous tournament results :/</h3>
    }
</div>