@model BESL.Application.Tournaments.Queries.Details.GetTournamentDetailsViewModel;
@{
    ViewData["Title"] = Model.Name;
}

<h4 class="display-4">@Model.Name</h4>
<hr />
<div class="row">
    <div class="lead col-md-6">
        @if (Model.Description.Length > 256)
        {
            var paragraphEndIndex = Model.Description.IndexOf('.', 256) + 1;

            <p class="text-break">
                @Model.Description.Substring(0, paragraphEndIndex)
            </p>

            @if (Model.Description.Length != paragraphEndIndex)
            {
                <div id="collapse" style="display:none">
                    <p class="text-break">@Model.Description.Substring(paragraphEndIndex)</p>
                </div>
                <a href="#collapse" class="nav-toggle">Read More</a>
            }
        }
        else
        {
            <p class="text-break">
                @Model.Description
            </p>
        }
    </div>
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <img src="@Model.TournamentImageUrl" class="img-fluid rounded-lg shadow border" alt="Responsive image">
        </div>
        <div class="d-flex justify-content-center text-muted">Active from @Model.StartDate to @Model.EndDate</div>
    </div>
</div>
<vc:tournament-skill-tables tournament-id="@Model.Id"></vc:tournament-skill-tables>

@section Scripts{
    <script>$(document).ready(function () {
            $('.nav-toggle').click(function () {
                var collapse_content_selector = $(this).attr('href');
                var toggle_switch = $(this);
                $(collapse_content_selector).toggle(function () {
                    if ($(this).css('display') == 'none') {
                        toggle_switch.html('Read More');
                    } else {
                        toggle_switch.html('Read Less');
                    }
                });
            });
        });</script>
}