@model BESL.Application.TournamentTables.Queries.GetTournamentTables.TournamentTablesViewModel
@{
    int navItemCounter = 0;
    int tabItemCounter = 0;
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    @foreach (var table in Model.Tables)
    {
        if (navItemCounter == 0)
        {
            <li class="nav-item">
                <a class="nav-link active" id="@(table.Name)-tab" data-toggle="tab" href="#@(table.Name)Pane" role="tab">@table.Name</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" id="@(table.Name)-tab" data-toggle="tab" href="#@(table.Name)Pane" role="tab">@table.Name</a>
            </li>
        }

        navItemCounter++;
    }
</ul>
<div class="tab-content" id="myTabContent">
    @foreach (var table in Model.Tables)
    {
        var status = tabItemCounter == 0 ? "active" : string.Empty;

        <div class="tab-pane fade show mt-2 @(status)" id="@(table.Name)Pane" role="tabpanel">
            <a class="btn btn-sm btn-primary text-white mb-2" asp-controller="Tournaments" asp-action="PlayWeeks" asp-route-TournamentTableId="@table.Id"><i class="fas fa-calendar-week"></i>&nbsp;Play weeks</a>
            <table class="table table-sm table-bordered table-hover border rounded table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total points</th>
                        <th scope="col">Penalty points</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @if (table.TableResults.Count() == 0)
                    {
                        <tr>
                            <td colspan="5" class="text-center"><h5 class="text-danger">No teams registered.</h5></td>
                        </tr>
                    }
                    else
                    {
                        int rowCounter = 1;
                        @foreach (var tableResult in table.TableResults)
                        {
                        <tr>
                            <th scope="row">@(rowCounter++)</th>
                            <td><a asp-controller="Teams" asp-action="Details" asp-route-Id="@tableResult.TeamId">@tableResult.Team</a></td>
                            <td>@tableResult.TotalPoints</td>
                            <td>@tableResult.PenaltyPoints</td>
                            <td>@tableResult.Points</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        tabItemCounter++;
    }
</div>
