@model BESL.Application.Teams.Queries.Details.GetTeamDetailsViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = Model.Name;
}

<div class="row mx-3 mb-3">
    <img class="img-thumbnail ml-3 shadow" src="@Model.TeamImageUrl" />
    <div class="col-md-6">
        <h1>
            @Model.Name
        </h1>
        <div class="mt-2">
            <h6 class="lead">
                Homepage:&nbsp;@if (!string.IsNullOrWhiteSpace(Model.HomepageUrl))
                {<a href="@Model.HomepageUrl">@Model.HomepageUrl</a> }
            else
            { <span>None</span>}
            </h6>
            <h6 class="lead">
                Format:&nbsp;@Model.TournamentFormat
            </h6>
            <h6 class="lead">Created on: @Model.CreatedOn</h6>
        </div>
    </div>
    @if (Model.IsOwner || Model.IsOwner)
    {
        <div class="col-sm-3">
            @if (Model.IsOwner)
            {
                <a class="btn btn-primary text-white btn-block" asp-controller="Teams" asp-action="Modify" asp-route-id="@Model.Id"><i class="fas fa-cog"></i>&nbsp;Modify</a>
            }

            @if (Model.IsMember)
            {
                <a class="btn btn-danger text-white btn-block" asp-controller="Teams" asp-action="Leave" asp-route-PlayerId="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-TeamId="@Model.Id"><i class="fas fa-door-open"></i>&nbsp;Leave</a>
            }
        </div>
    }
</div>
<div class="row mx-3 mb-3">
    <div class="col-md-12">
        <h5>Description:</h5>
        @if (string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="card card-body my-2 shadow" style="white-space:pre-wrap">No description.</div>
        }
        else
        {
            <div class="card card-body my-2 shadow" style="white-space:pre-wrap">@Model.Description</div>
        }
    </div>
</div>
<div class="row mx-3 mb-3">
    <div class="col-md-12">
        <vc:get-players-for-team team-id="@Model.Id"></vc:get-players-for-team>
    </div>
</div>
