@model BESL.Application.Matches.Queries.GetMatchesForCurrentPlayWeeks.MatchesForCurrentPlayWeeksViewModel
@using static BESL.SharedKernel.GlobalConstants;
<h4 class="display-4">This week's matches</h4>
<hr />
<div class="border shadow">
    <table class="table table-sm fixed-header scrollable-vk">
        <thead>
            <tr>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
                <th scope="col">Result</th>
                <th scope="col">Scheduled Date</th>
                <th scope="col" class="text-center">Details</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Matches.Count() > 0)
            {
                @foreach (var match in Model.Matches)
                {
                    <tr>
                        <td class="align-middle"><a asp-controller="Teams" asp-action="Details" asp-route-id="@match.HomeTeamId"><strong>@match.HomeTeamName</strong></a></td>
                        <td class="align-middle"><a asp-controller="Teams" asp-action="Details" asp-route-id="@match.AwayTeamId"><strong>@match.AwayTeamName</strong></a></td>
                        <td class="align-middle">
                            @if (match.HomeTeamScore.HasValue && match.AwayTeamScore.HasValue)
                            {
                                @($"{match.HomeTeamScore} - {match.AwayTeamScore}");
                            }
                            else
                            {
                                @("TBA");
                            }
                        </td>
                        <td class="align-middle">@match.ScheduledDate.ToString(DATE_HOUR_FORMAT)</td>
                        <td class="align-middle text-center"><a asp-controller="Matches" asp-action="Details" asp-route-id="@match.Id" class="btn btn-sm btn-primary">Details</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-danger text-center">No matches.</td>
                </tr>
            }
        </tbody>
    </table>
</div>