@model BESL.Application.Matches.Commands.Create.CreateMatchCommand
@using static BESL.Common.GlobalConstants
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMatchFixtureModal">
    <i class="fas fa-plus-circle"></i>&nbsp; Add match fixture
</button>
<div asp-validation-summary="All" class="text-danger mt-2"></div>

<!-- Modal -->
<div class="modal fade" id="addMatchFixtureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddMatchForm" asp-controller="MatchFixtures" asp-action="Create">
                    <div class="form-group mb-2">
                        <label asp-for="HomeTeamId">Home team</label>
                        <select class="form-control" asp-for="@Model.HomeTeamId" asp-items="@Model.Teams.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }).ToList()"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="HomeTeamId">Away team</label>
                        <select class="form-control" asp-for="@Model.AwayTeamId" asp-items="@Model.Teams.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }).ToList()"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="PlayDate">Play date</label>
                        <input type="datetime-local" class="form-control" asp-for="@Model.PlayDate" min="@DateTime.Now.ToString(DATETIME_PICKER_FORMAT)" value="@DateTime.Now.ToString(DATETIME_PICKER_FORMAT)">
                    </div>
                    <input type="hidden" class="form-control" asp-for="@Model.TournamentTableId">
                    <input type="hidden" class="form-control" asp-for="@Model.PlayWeekId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="AddMatchForm" class="btn btn-primary">Create match fixture</button>
            </div>
        </div>
    </div>
</div>