 @model BESL.Application.Tournaments.Queries.GetAllTournaments.AllTournamentsViewModel
@{
    Layout = null;
}
<div class="border rounded">
    <div class="container-fluid mt-2 mb-3">
        <form id="createTournamentForm" data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="/Administration/Tournaments/Create" data-ajax-method="GET" data-ajax-success="$.validator.unobtrusive.parse(tournamentCreateForm)" data-ajax-update="#mainContentContainer"></form>
        <form id="refreshTournamentForm" data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="/Administration/Tournaments/All" data-ajax-method="GET" data-ajax-update="#mainContentContainer"></form>
        <button class="btn btn-success mb-3" form="createTournamentForm"><i class="fas fa-plus-circle"></i>&nbsp;Add a tournament</button>
        <button class="btn btn-primary mb-3" form="refreshTournamentForm"><i class="fas fa-redo-alt"></i>&nbsp;Refresh tournaments list</button>
        <table class="table table-hover rounded shadow">
            <thead class="thead-dark rounded">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Game</th>
                    <th scope="col">Format</th>
                    <th scope="col" class="text-center">Tables</th>
                    <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
                    <th scope="col" class="text-center"><i class="fas fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Tournaments.Count() > 0)
                {
                    @foreach (var tournament in Model.Tournaments)
                    {
                <tr>
                    <th scope="row">@tournament.Id</th>
                    <td>@tournament.Name</td>
                    <td>@tournament.Game</td>
                    <td>@tournament.Format</td>
                    <td class="text-center">
                        <form data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="Administration/Tournaments/Tables/@tournament.Id" data-ajax-method="GET" data-ajax-update="#mainContentContainer">
                            <button class="btn btn-primary" align-center"><i class="fas fa-list"></i>&nbsp;Table list</button>
                        </form>
                    </td>
                    <td class="text-center">
                        <form data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="Administration/Tournaments/Modify/@tournament.Id" data-ajax-method="GET" data-ajax-success="$.validator.unobtrusive.parse(tournamentModifyForm)" data-ajax-update="#mainContentContainer">
                            <button class="btn btn-info align-center"><i class="fas fa-wrench"></i>&nbsp;Modify</button>
                        </form>
                    </td>
                    <td class="text-center">
                        <form data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="Administration/Tournaments/Delete/@tournament.Id?gameName=@tournament.Name" data-ajax-method="POST" data-ajax-confirm="Are you sure you want to delete @tournament.Name ?" data-ajax-update="#mainContentContainer">
                            <button class="btn btn-danger btn-"><i class="fas fa-times-circle"></i>&nbsp;Delete</button>
                        </form>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center"><h5>No tournaments registered.</h5></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>