@using static BESL.Common.GlobalConstants;
@model BESL.Application.Tournaments.Commands.Modify.ModifyTournamentCommand
@{
    ViewData["Title"] = "Modify tournament";
    ViewData["ActivePage"] = ManageAdminNavPages.Tournaments;
}

<div class="border rounded">
    <div class="container-fluid mt-2 mb-3">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <h2>Modify tournament: @Model.Name</h2>
                <form id="tournamentCreateForm" class="mb-3" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Enter name...">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <small id="gameNameHelp" class="form-text text-muted">Tournament name.</small>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea class="form-control" maxlength="1000" asp-for="Description" rows="5" placeholder="Enter description..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <small id="gameDescHelp" class="form-text text-muted">Description of the tournament.</small>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate">Start date</label>
                        <input type="date" class="form-control" asp-for="StartDate" min="2019-01-01" value="@Model.StartDate.ToString(DATEPICKER_DATE_FORMAT)">
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate">End date</label>
                        <input type="date" class="form-control" asp-for="EndDate" min="2019-01-01" value="@Model.EndDate.ToString(DATEPICKER_DATE_FORMAT)">
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input asp-for="@Model.IsActive" />
                            <label asp-for="@Model.IsActive">
                                Is tournament active@*@Html.DisplayNameFor(m => m.IsActive)*@
                            </label>
                            <input asp-for="@Model.AreSignupsOpen" class="ml-2"/>
                            <label asp-for="@Model.AreSignupsOpen">
                                Are sign-ups open@*@Html.DisplayNameFor(m => m.IsActive)*@
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Format</label>
                        <select disabled class="form-control">
                            <option value="@Model.FormatName">@Model.FormatName</option>
                        </select>
                        <select hidden asp-for="FormatName">
                            <option value="@Model.FormatName">@Model.FormatName</option>
                        </select>
                    </div>
                    <label asp-for="TournamentImage">Image (< 4MB)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="tournamentImageHelp">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" asp-for="TournamentImage" name="tournamentImage" id="tournamentImage" aria-describedby="tournamentImageHelp">
                            <label class="custom-file-label" for="tournamentImage">Choose file</label>
                        </div>
                    </div>
                    <span asp-validation-for="TournamentImage" class="text-danger"></span>
                    <input hidden asp-for="TournamentImageUrl" />
                    <button type="submit" class="btn btn-primary btn-block mt-3"><i class="fas fa-plus-circle"></i>&nbsp;Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h4>Current game image:</h4>
                <picture class="d-flex justify-content-center my-4">
                    <source srcset="@Model.TournamentImageUrl" type="image/svg+xml">
                    <img src="@Model.TournamentImageUrl" class="img img-thumbnail ml-6" alt="...">
                </picture>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <partial name="~/Views/Shared/Partials/_FileUploadScript.cshtml">
}