@model BESL.Application.TournamentTables.Queries.GetTournamentTables.TournamentTablesViewModel
@{
    ViewData["ActivePage"] = ManageAdminNavPages.Tournaments;
    ViewData["Title"] = "Tournaments";
    int navItemCounter = 0;
    int tabItemCounter = 0;
}
<a class="btn btn-primary text-white mb-2">Play weeks>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    @foreach (var table in Model.Tables)
    {
        if (navItemCounter == 0)
        {
            <li class="nav-item">
                <a class="nav-link active" id="@(table.Name)-tab" data-toggle="tab" href="#@(table.Name)Pane" role="tab">@table.Name</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" id="@(table.Name)-tab" data-toggle="tab" href="#@(table.Name)Pane" role="tab">@table.Name</a>
            </li>
        }

        navItemCounter++;
    }
</ul>
<div class="tab-content" id="myTabContent">
    @foreach (var table in Model.Tables)
    {
        var status = tabItemCounter == 0 ? "active" : string.Empty;

        <div class="tab-pane fade show mt-2 @(status)" id="@(table.Name)Pane" role="tabpanel">
            <a class="btn btn-primary btn-sm mt-2 mb-2" href="#">Match fixtures</a>
            <table class="table table-sm table-bordered table-hover border rounded table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total points</th>
                        <th scope="col">Penalty points</th>
                        <th scope="col">Matches played</th>
                        <th scope="col">Matches won</th>
                        <th scope="col" class="text-center">Drop/Undrop</th>
                    </tr>
                </thead>
                <tbody>
                    @if (table.TableResults.Count() == 0)
                    {
                        <tr>
                            <td colspan="7" class="text-center"><h5 class="text-danger">No teams registered.</h5></td>
                        </tr>
                    }
                    else
                    {
                        int rowCounter = 1;
                        @foreach (var tableResult in table.TableResults)
                        {
                            <tr>
                                <th scope="row">@(rowCounter++)</th>
                                <td>@tableResult.Team</td>
                                <td>@tableResult.TotalPoints</td>
                                <td>@tableResult.PenaltyPoints</td>
                                <td>@tableResult.MatchesPlayed</td>
                                <td>@tableResult.MatchesWon</td>
                                <td class="text-center">
                                    @if (!tableResult.IsDropped)
                                    {
                                        <form asp-area="Administration" asp-controller="TableResults" asp-action="Drop" asp-route-id="@tableResult.Id" onsubmit="return submitForm(this, 'Are you sure you want to drop','@tableResult.Team');">
                                            <button class="btn btn-sm btn-danger">Drop</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-area="Administration" asp-controller="TableResults" asp-action="Activate" asp-route-id="@tableResult.Id" onsubmit="return submitForm(this, 'Are you sure you want to undrop', '@tableResult.Team');">

                                            <button class="btn btn-sm btn-info text-white">Undrop</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        tabItemCounter++;
    }
</div>

@section Scripts{
<script>function submitForm(a, b, c) {
        return confirm(`${b} ${c} ?`);
    }
</script>
}