@model BESL.Application.TournamentTables.Queries.GetTournamentTables.TournamentTablesViewModel
@using static BESL.Common.GlobalConstants;
@{
    ViewData["ActivePage"] = ManageAdminNavPages.Tournaments;
    ViewData["Title"] = "Tournaments";
    int navItemCounter = 0;
    int tabItemCounter = 0;
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    @foreach (var table in Model.Tables)
    {
        if (navItemCounter == 0)
        {
            <li class="nav-item">
                <a class="nav-link active" id="@(table.Name)-tab" data-toggle="tab" href="#@(table.Name)Pane" role="tab">@table.Name</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" id="@(table.Name)-tab" data-toggle="tab" href="#@(table.Name)Pane" role="tab">@table.Name</a>
            </li>
        }

        navItemCounter++;
    }
</ul>
<div class="tab-content" id="myTabContent">
    @foreach (var table in Model.Tables)
    {
        var status = tabItemCounter == 0 ? "active" : string.Empty;
        var playWeek = table.CurrentPlayWeek != null ? $"{table.CurrentPlayWeek.StartDate.ToString(DATE_FORMAT)} - {table.CurrentPlayWeek.EndDate.ToString(DATE_FORMAT)}" : "None";

        <div class="tab-pane fade show mt-2 @(status)" id="@(table.Name)Pane" role="tabpanel">
            <h6>Current play week: @playWeek</h6>
            <a class="btn btn-primary btn-sm mt-2 mb-2" asp-area="Administration" asp-controller="MatchFixtures" asp-action="Details" asp-route-PlayWeekId="@table.CurrentPlayWeek.Id">Current week match fixtures</a>
            <vc:table-weeks-navigation tournament-table-id="@Model.TournamentId"></vc:table-weeks-navigation>
            <table class="table table-sm table-bordered table-hover border rounded table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total points</th>
                        <th scope="col">Penalty points</th>
                        <th scope="col">Points</th>
                        <th scope="col" class="text-center">Add penalty points</th>
                        <th scope="col" class="text-center">Drop/Undrop</th>
                    </tr>
                </thead>
                <tbody>
                    @if (table.TableResults.Count() == 0)
                    {
                        <tr>
                            <td colspan="6" class="text-center"><h5 class="text-danger">No teams registered.</h5></td>
                        </tr>
                    }
                    else
                    {
                        int rowCounter = 1;
                        @foreach (var tableResult in table.TableResults)
                        {
                            <tr>
                                <th class="align-middle" scope="row">@(rowCounter++)</th>
                                <td class="align-middle">@tableResult.Team</td>
                                <td class="align-middle">@tableResult.TotalPoints</td>
                                <td class="align-middle">@tableResult.PenaltyPoints</td>
                                <td class="align-middle">@tableResult.Points</td>
                                <td class="text-center"><a class="btn btn-sm btn-warning text-white" asp-area="Administration" asp-controller="TeamTableResults" asp-action="AddPenaltyPoints" asp-route-teamTableResultId="@tableResult.Id" asp-route-tournamentId="@Model.TournamentId">Add penalty points</a></td>
                                <td class="text-center">
                                    @if (!tableResult.IsDropped)
                                    {
                                        <form asp-area="Administration" asp-controller="TeamTableResults" asp-action="Drop" asp-route-TeamTableResultId="@tableResult.Id" asp-route-tournamentId="@Model.TournamentId" onsubmit="return submitForm(this, 'Are you sure you want to drop','@tableResult.Team');">
                                            <button class="btn btn-sm btn-danger">Drop</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-area="Administration" asp-controller="TeamTableResults" asp-action="Activate" asp-route-TeamTableResultId="@tableResult.Id" asp-route-tournamentId="@Model.TournamentId" onsubmit="return submitForm(this, 'Are you sure you want to undrop', '@tableResult.Team');">

                                            <button class="btn btn-sm btn-info text-white">Undrop</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        tabItemCounter++;
    }
</div>

@section Scripts{
    <script>function submitForm(a, b, c) {
            return confirm(`${b} ${c} ?`);
        }</script>
}