@model BESL.Application.Matches.Queries.GetMatchesForPlayWeek.MatchesForPlayWeekViewModel
@using static BESL.Common.GlobalConstants;
@{
    ViewData["ActivePage"] = ManageAdminNavPages.Tournaments;
    ViewData["Title"] = "Match fixtures";
}
<vc:add-match-fixture tournament-table-id="@Model.PlayWeekId" play-week-id="@Model.PlayWeekId"></vc:add-match-fixture>
<table class="table table-sm shadow mt-2">
    <thead>
        <tr>
            <th scope="col">Home Team</th>
            <th scope="col">Away Team</th>
            <th scope="col">Play Date</th>
            <th scope="col" class="text-center">Modify</th>
            <th scope="col" class="text-center">Remove</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Matches.Count() != 0)
        { 
            @foreach (var match in Model.Matches)
            {
                <tr>
                    <td class="align-middle"><a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@match.HomeTeamId"><strong>@match.HomeTeamName</strong></a></td>
                    <td class="align-middle"><a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@match.AwayTeamId"><strong>@match.AwayTeamName</strong></a></td>
                    <td class="align-middle">@match.ScheduledDate.ToString(DATE_HOUR_FORMAT)</td>
                    <td class="text-center"><a class="btn btn-sm btn-primary text-white" asp-controller="MatchFixtures" asp-action="Modify" asp-route-MatchId="@match.Id">Modify</a></td>
                    <td class="text-center"><a class="btn btn-sm btn-danger text-white" asp-controller="MatchFixtures" asp-action="Delete" asp-route-MatchId="@match.Id">Remove</a></td>                
                </tr>
            }
        }
        else
        {
             <tr>
                    <td colspan="4" class="text-center"><h5 class="text-danger">No teams registered.</h5></td>
             </tr>
        }
    </tbody>
</table>

