@model BESL.Application.Players.Queries.Details.PlayerDetailsViewModel
@{
    ViewData["Title"] = Model.Username;
    bool hasUserLinkedSteamAccount = !string.IsNullOrWhiteSpace(Model.SteamId64);
}
<div class="row mx-3 mb-3">
    <img class="img-thumbnail ml-3 shadow" src="@Model.AvatarFullUrl" />
    <div class="col-md-6">
        <h1>
            @Model.Username@if (Model.IsVACBanned)
            {
                @:&nbsp;<span class="badge badge-danger">VAC</span>
            }
        </h1>
        <div class="mt-2">
            <h6 class="lead">
                Steam ID64: @if (hasUserLinkedSteamAccount)
                {
                    <a href="https://steamcommunity.com/profiles/@Model.SteamId64">@Model.SteamId64</a>
                }
                else
                {<strong class="text-warning">No linked steam account.</strong>}
            </h6>
            <h6 class="lead">
                VAC Status: @if (hasUserLinkedSteamAccount)
                {
                    @if (Model.IsVACBanned)
                    {<strong class="text-danger">Banned</strong>}
                    else
                    {<strong class="text-success">Good</strong>}
                }
                else
                {
                    {<strong class="text-warning">No linked steam account.</strong>}
                }
            </h6>
            <h6 class="lead">Registered on: @Model.RegisteredOn</h6>
        </div>
    </div>
</div>
<div class="row mx-3 mb-3">
    <div class="col-md-10">
        <vc:player-details-teams user-id="@Model.Id"></vc:player-details-teams>
    </div>
</div>