@using BESL.Web.Areas.Administration.Views.Shared;
<div class="list-group" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action @ManageAdminNavPages.IndexNavClass(ViewContext)" asp-area="Administration" asp-controller="Games" asp-action="Index"><i class="fas fa-gamepad"></i>&nbsp;Games</a>
    <a class="list-group-item list-group-item-action @ManageAdminNavPages.TournamentsNavClass(ViewContext)" asp-area="Administration" asp-controller="Tournaments" asp-action="Index"><i class="fas fa-trophy"></i>&nbsp;Tournaments</a>
    <a class="list-group-item list-group-item-action @ManageAdminNavPages.TournamentFormatsNavClass(ViewContext)" asp-area="Administration" asp-controller="TournamentFormats" asp-action="Index"><i class="fas fa-chess"></i>&nbsp;Tournament formats</a>
    <a class="list-group-item list-group-item-action @ManageAdminNavPages.TeamsNavClass(ViewContext)" asp-area="Administration" asp-controller="Teams" asp-action="Index"><i class="fas fa-users"></i>&nbsp;Teams</a>
    <a class="list-group-item list-group-item-action @ManageAdminNavPages.PlayersNavClass(ViewContext)" asp-area="Administration" asp-controller="Players" asp-action="Index"><i class="fas fa-users"></i>&nbsp;Players</a>
    <a class="list-group-item list-group-item-action" href="hangfire"><i class="fas fa-fire"></i>&nbsp;Hangfire</a>
</div>