@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-5 border rounded shadow">
        <section>
            <form id="account" method="post">
                <h2 class="mt-2">Log in.</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="shadow-sm form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="shadow-sm form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn shadow btn-primary btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;Log in</button>
                </div>
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. :(
                                </p>
                            </div>
                        }
                        else
                        {
                            var loginProvider = Model.ExternalLogins.FirstOrDefault(e => e.DisplayName == "Steam");
                            <div>
                                <p>
                                    <button type="submit" form="external-account" class="btn shadow btn-dark btn-block" name="provider" value="@loginProvider.Name" title="Log in using your @loginProvider.DisplayName account"><i class="fab fa-steam"></i>&nbsp;@loginProvider.DisplayName</button>
                                </p>
                            </div>
                        }
                    }
                </section>
                <div class="form-group text-center">
                    <a class="btn btn-sm btn-danger mt-1 mb-1" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    <a class="btn btn-sm btn-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </form>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"></form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
