@model BESL.Application.Teams.Queries.GetPlayersForTeam.GetPlayersForTeamViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, BESL.Web

<div class="rounded border shadow container">
    @for (int i = 0; i < Model.Players.Count / 2; i++)
    {
        if (i + 1 < Model.Players.Count)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="media border my-2">
                        <img src="@Model.Players[i].AvatarSmall" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0"><a asp-controller="Players" asp-action="Details" asp-route-id="@Model.Players[i].Username">@Model.Players[i].Username</a></h5>
                            @Model.Players[i].SteamId64
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media border my-2">
                        <img src="@Model.Players[i + 1].AvatarSmall" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0"><a asp-controller="Players" asp-action="Details" asp-route-id="@Model.Players[i + 1].Username">@Model.Players[i + 1].Username</a></h5>
                            @Model.Players[i + 1].SteamId64
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }

        else
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="media border my-2">
                        <img src="@Model.Players[i].AvatarSmall" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0">@Model.Players[i].Username</h5>
                            @Model.Players[i].SteamId64
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>