@model BESL.Application.TournamentFormats.Queries.GetAllTournamentFormats.GetAllTournamentFormatsQueryViewModel
@{
    ViewData["ActivePage"] = ManageAdminNavPages.TournamentFormats;
    ViewData["Title"] = "Tournament formats";
}
<div class="border rounded">
    <div class="container-fluid mt-2 mb-3">
        <a asp-area="Administration" asp-controller="TournamentFormats" asp-action="Create" class="btn btn-success mb-3"><i class="fas fa-plus-circle"></i>&nbsp;Add a format</a>
        <table class="table table-hover rounded shadow">
            <thead class="thead-dark rounded">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Game</th>
                    <th scope="col">Team players count</th>
                    <th scope="col">Total players</th>
                    <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
                    <th scope="col" class="text-center"><i class="fas fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TournamentFormats.Count() > 0)
                {
                    @foreach (var tournamentFormat in Model.TournamentFormats)
                    {
                        <tr>
                            <th scope="row" class="align-middle">@tournamentFormat.Id</th>
                            <td class="align-middle">@tournamentFormat.Name</td>
                            <td class="align-middle">@tournamentFormat.Game</td>
                            <td class="align-middle">@tournamentFormat.TeamPlayersCount</td>
                            <td class="align-middle">@tournamentFormat.TotalPlayersCount</td>
                            <td class="text-center">
                                <a asp-area="Administration" asp-controller="TournamentFormats" asp-action="Modify" asp-route-id="@tournamentFormat.Id" class="btn btn-info align-center"><i class="fas fa-wrench"></i>&nbsp;Modify</a>
                            </td>
                            <td class="text-center">
                                <form asp-area="Administration" asp-controller="TournamentFormats" asp-action="Delete" asp-route-id="@tournamentFormat.Id" onsubmit="return submitForm(this, '@(tournamentFormat.Name + " - " + tournamentFormat.Game)');">
                                    <button class="btn btn-danger btn-"><i class="fas fa-times-circle"></i>&nbsp;Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="text-center"><h5>No tornament formats registered.</h5></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function submitForm(a, b) {
        return confirm(`Do you really want to delete ${b} ?`);
    }
</script>