@model BESL.Application.Games.Queries.GetAllGames.GamesListViewModel;
@{
    ViewData["ActivePage"] = ManageAdminNavPages.Index;
    ViewData["Title"] = "Games";
}
<div class="border rounded">
    <div class="container-fluid mt-2 mb-3">
        <a asp-area="Administration" asp-controller="Games" asp-action="Create" class="btn btn-success mb-3"><i class="fas fa-plus-circle"></i>&nbsp;Add a game</a>
        <table class="table table-hover rounded shadow">
            <thead class="thead-dark rounded">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Active Tournaments</th>
                    <th scope="col">Registered teams</th>
                    <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
                    <th scope="col" class="text-center"><i class="fas fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Games.Count > 0)
                {
                    @foreach (var game in Model.Games)
                    {
                        <tr>
                            <th scope="row" class="align-middle">@game.Id</th>
                            <td class="align-middle">@game.Name</td>
                            <td class="align-middle">@game.CurrentActiveTournaments</td>
                            <td class="align-middle">@game.RegisteredTeams</td>
                            <td class="text-center">
                                <a asp-area="Administration" asp-controller="Games" asp-action="Modify" asp-route-id="@game.Id" class="btn btn-info align-center"><i class="fas fa-wrench"></i>&nbsp;Modify</a>
                            </td>
                            <td class="text-center">
                                <form asp-area="Administration" asp-controller="Games" asp-action="Delete" asp-route-id="@game.Id" onsubmit="return submitForm(this, '@game.Name');">
                                    <button class="btn btn-danger btn-"><i class="fas fa-times-circle"></i>&nbsp;Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center"><h5>No games registered.</h5></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function submitForm(a, b) {
        return confirm(`Do you really want to delete ${b} ?`);
    }
</script>